Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon

update(blog): Change link in Additional resources section
  blog/posts/selling-surveillance-as-convenience.md
Owners: @jonaharagon

feat: Embed internal links for remaining sections based on feedback from @friadev
  docs/self-hosting/index.md
Owners: none

Apply suggestion from code review
  docs/tools.md
Owners: none

Formatting
  blog/posts/keepassium-review.md
Owners: @jonaharagon

Update date
  blog/posts/keepassium-review.md
Owners: @jonaharagon

Metadata fixes
  blog/posts/keepassium-review.md
Owners: @jonaharagon

Update blog/posts/keepassium-review.md
  blog/posts/keepassium-review.md
Owners: @jonaharagon

Update blog/posts/keepassium-review.md
  blog/posts/keepassium-review.md
Owners: @jonaharagon

update(blog)!: KeePassium Review (#3012)
  blog/assets/images/keepassium-review/keepassium-applelabel.webp
  blog/assets/images/keepassium-review/keepassium-appprotection.webp
  blog/assets/images/keepassium-review/keepassium-appstoremac.webp
  blog/assets/images/keepassium-review/keepassium-attachmentmac.webp
  blog/assets/images/keepassium-review/keepassium-autofill.webp
  blog/assets/images/keepassium-review/keepassium-autofillmac.webp
  blog/assets/images/keepassium-review/keepassium-backup.webp
  blog/assets/images/keepassium-review/keepassium-cover.webp
  blog/assets/images/keepassium-review/keepassium-databaseoptions.webp
  blog/assets/images/keepassium-review/keepassium-dataprotection.webp
  blog/assets/images/keepassium-review/keepassium-encryptionoptions.webp
  blog/assets/images/keepassium-review/keepassium-entries.webp
  blog/assets/images/keepassium-review/keepassium-entrymac.webp
  blog/assets/images/keepassium-review/keepassium-fileinfo.webp
  blog/assets/images/keepassium-review/keepassium-fileinfomac.webp
  blog/assets/images/keepassium-review/keepassium-generator.webp
  blog/assets/images/keepassium-review/keepassium-generatormac.webp
  blog/assets/images/keepassium-review/keepassium-groups.webp
  blog/assets/images/keepassium-review/keepassium-largeindexedfont.webp
  blog/assets/images/keepassium-review/keepassium-loginappmac.webp
  blog/assets/images/keepassium-review/keepassium-loginsafarimac.webp
  blog/assets/images/keepassium-review/keepassium-movedatabase.webp
  blog/assets/images/keepassium-review/keepassium-moveentry.webp
  blog/assets/images/keepassium-review/keepassium-newdatabase.webp
  blog/assets/images/keepassium-review/keepassium-newdatabasemac.webp
  blog/assets/images/keepassium-review/keepassium-newentry.webp
  blog/assets/images/keepassium-review/keepassium-offline.webp
  blog/assets/images/keepassium-review/keepassium-otp.webp
  blog/assets/images/keepassium-review/keepassium-otpentry.webp
  blog/assets/images/keepassium-review/keepassium-pdfviewer.webp
  blog/assets/images/keepassium-review/keepassium-pricing.webp
  blog/assets/images/keepassium-review/keepassium-print.webp
  blog/assets/images/keepassium-review/keepassium-startdatabase.webp
  blog/assets/images/keepassium-review/keepassium-startwelcome.webp
  blog/assets/images/keepassium-review/keepassium-startwelcomemac.webp
  blog/assets/images/keepassium-review/keepassium-textsize.webp
  blog/assets/images/keepassium-review/keepassium.svg
  blog/posts/keepassium-review.md
Owners: @jonaharagon

add multi-party copmutation article
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update(blog)!: You Can Say NO
  blog/assets/images/you-can-say-no/no-cover.webp
  blog/posts/you-can-say-no.md
Owners: @jonaharagon

add intro
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

style(blog): Fix typos
  blog/posts/sam-altman-wants-your-eyeball.md
Owners: @jonaharagon

Update date
  blog/posts/your-online-life-is-irl.md
Owners: @jonaharagon

update: Remove mentions of Send's defunct official instance
  docs/file-sharing.md
Owners: none

style: Move line about public instances to description under card
  docs/document-collaboration.md
Owners: none

style: Move lines about public instances to description under cards
  docs/frontends.md
Owners: none

update: Link to Send's repo instead of homepage for primary button
  docs/file-sharing.md
Owners: none

style: Remove unnecessary quote marks
  docs/document-collaboration.md
Owners: none

style: Remove extra space
  docs/document-collaboration.md
Owners: none

style: Move more technical information to under recommendation cards
  docs/frontends.md
Owners: none

style: Move more technical information to under recommendation cards
  docs/frontends.md
Owners: none

style!: Make minor changes across recommendation pages for consistency (#2972)
  docs/about/donation-acceptance-policy.md
  docs/advanced/communication-network-types.md
  docs/advanced/tor-overview.md
  docs/ai-chat.md
  docs/alternative-networks.md
  docs/android/general-apps.md
  docs/basics/vpn-overview.md
  docs/basics/why-privacy-matters.md
  docs/cloud.md
  docs/data-redaction.md
  docs/desktop-browsers.md
  docs/desktop.md
  docs/dns.md
  docs/document-collaboration.md
  docs/encryption.md
  docs/health-and-wellness.md
  docs/index.md
  docs/language-tools.md
  docs/maps.md
  docs/meta/admonitions.md
  docs/news-aggregators.md
  docs/notebooks.md
  docs/passwords.md
  docs/pastebins.md
  docs/photo-management.md
  docs/privacy.md
  docs/real-time-communication.md
  docs/tools.md
  docs/tor.md
  docs/vpn.md
  theme/assets/img/ai-chat/llamafile.png
  theme/assets/img/ai-chat/llamafile.webp
Owners: @jonaharagon, @dngray

style: Fix wording
  docs/self-hosting/index.md
Owners: none

update: Recommend minimum word length for randomly generated passphrases
  docs/basics/passwords-overview.md
Owners: none

Apply suggestions from code review
  docs/language-tools.md
Owners: none

feat!: Add community wiki to navbar (#3029)
  mkdocs.blog.yml
  mkdocs.videos.yml
  mkdocs.yml
Owners: @jonaharagon

update!: Require PFS for instant messengers and remove Session (#3034)
  docs/real-time-communication.md
  docs/tools.md
  theme/assets/img/messengers/session.svg
Owners: none

update(blog)!: Your Online Life Is IRL (#3021)
  blog/assets/images/your-online-life-is-irl/irl-cover.webp
  blog/posts/your-online-life-is-irl.md
Owners: @jonaharagon

Apply suggestion from code review
  docs/basics/passwords-overview.md
Owners: none

Update date
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Replace blog cover image
  blog/assets/images/digital-provenance/cover.jpg
  blog/assets/images/digital-provenance/cover.png
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Line edits / replace cardiff giant image
  blog/assets/images/digital-provenance/cardiff-giant.jpeg
  blog/assets/images/digital-provenance/cardiff-giant.jpg
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Grid for geese images, new headline
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Update headline
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Update publish time
  blog/posts/digital-provenance.md
Owners: @jonaharagon

update(blog)!: Digital Provenance (#3009)
  blog/assets/images/digital-provenance/cardiff-giant.jpg
  blog/assets/images/digital-provenance/cover.jpg
  blog/assets/images/digital-provenance/geese1.jpeg
  blog/assets/images/digital-provenance/geese2.jpeg
  blog/assets/images/digital-provenance/geese3.jpeg
  blog/assets/images/digital-provenance/geese4.jpeg
  blog/assets/images/digital-provenance/manifest.svg
  blog/posts/digital-provenance.md
Owners: @jonaharagon

style: Fix typos and make other minor grammar changes
  blog/posts/sam-altman-wants-your-eyeball.md
Owners: @jonaharagon

style(blog): Fix typos (#3041)
  blog/posts/sam-altman-wants-your-eyeball.md
Owners: @jonaharagon

update: Recommend minimum length for passphrases (#3043)
  docs/basics/passwords-overview.md
Owners: none
