Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

refactor: Add dark mode version for MVT logo
  docs/device-integrity.md
Owners: none

refactor: Add dark mode version for MVT logo
  docs/tools.md
Owners: none

Update Paaster logo
  docs/pastebins.md
  docs/tools.md
  theme/assets/img/pastebins/paaster.png
  theme/assets/img/pastebins/paaster.svg
Owners: none

update(blog)!:Digital Provenance: Implications on Privacy
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Replace dead link with archived link in hide-nothing.md
  blog/posts/hide-nothing.md
Owners: @freddy-m

update(blog)!: Encryption is Not a Crime
  blog/assets/images/encryption-is-not-a-crime/encryption-is-not-a-crime-cover.webp
  blog/posts/encryption-is-not-a-crime.md
Owners: @jonaharagon

add images
  blog/assets/images/digital-provenance/geese1.jpeg
  blog/assets/images/digital-provenance/geese3.jpeg
  blog/assets/images/digital-provenance/geese4.jpeg
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add link
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Update date
  blog/posts/encryption-is-not-a-crime.md
Owners: @jonaharagon

Update category on older post
  blog/posts/the-dangers-of-end-to-end-encryption.md
Owners: @jonaharagon

List indentation
  blog/posts/encryption-is-not-a-crime.md
Owners: @jonaharagon

Proper title case for headline
  blog/posts/encryption-is-not-a-crime.md
Owners: @jonaharagon

update(blog)!: Encryption is Not a Crime (#2998)
  blog/assets/images/encryption-is-not-a-crime/encryption-is-not-a-crime-cover.webp
  blog/posts/encryption-is-not-a-crime.md
  blog/posts/the-dangers-of-end-to-end-encryption.md
Owners: @jonaharagon

style: Fix sentence in VPN overview (#2976)
  docs/basics/vpn-overview.md
Owners: none

style: Apply Wikipedia's style of capitalization (#2962)
  docs/dns.md
  docs/email-aliasing.md
  docs/health-and-wellness.md
  docs/passwords.md
  docs/tools.md
Owners: none

update: Move custom domain support to best-case criteria for email services (#2963)
  docs/email.md
Owners: none

update: Remove "sanitize on close" note for Brave (#2968)
  docs/desktop-browsers.md
Owners: none

update: Ente Photos free plan to 10 GB (#2984)
  docs/photo-management.md
Owners: none

update: Remove mention of specific MPRs (#2981)
  docs/basics/vpn-overview.md
Owners: none

Update docs/desktop.md
  docs/desktop.md
Owners: none

update: Replace dead link with archived link in hide-nothing.md (#2997)
  blog/posts/hide-nothing.md
Owners: @freddy-m

update!: Add Secureblue (#2961)
  docs/desktop.md
  docs/tools.md
  theme/assets/img/linux-desktop/secureblue.svg
Owners: none

Apply suggestions from code review
  docs/ai-chat.md
  includes/abbreviations.en.txt
Owners: @jonaharagon

Apply suggestion from code review
  includes/abbreviations.en.txt
Owners: @jonaharagon

style: Move AI terms from glossary to recommendation page (#2974)
  docs/ai-chat.md
  docs/basics/email-security.md
  docs/email.md
  docs/tools.md
  includes/abbreviations.en.txt
  theme/assets/img/ai-chat/llamafile.png
  theme/assets/img/ai-chat/llamafile.svg
Owners: @jonaharagon

Move to parent category
  mkdocs.yml
Owners: @jonaharagon

"self hosting" not "self hosted"
  docs/cloud.md
  docs/meta/admonitions.md
  docs/self-hosting.md
  docs/tools.md
  mkdocs.yml
  theme/assets/img/self-hosting/adguard-home.svg
  theme/assets/img/self-hosting/freedombox.svg
  theme/assets/img/self-hosting/mail-in-a-box.svg
  theme/assets/img/self-hosting/mailcow.svg
  theme/assets/img/self-hosting/nextcloud.svg
  theme/assets/img/self-hosting/photoprism.svg
  theme/assets/img/self-hosting/pi-hole.svg
  theme/assets/img/self-hosting/stalwart.svg
  theme/assets/img/self-hosting/vaultwarden-dark.svg
  theme/assets/img/self-hosting/vaultwarden.svg
Owners: @jonaharagon

Shorten title
  docs/self-hosting.md
Owners: none

Apply suggestions from code review
  blog/posts/privacy-pass.md
Owners: @jonaharagon

Apply suggestions from code review
  blog/posts/privacy-pass.md
Owners: @jonaharagon

update: Remove Self-Hosting section from `tools.md` based on https://github.com/privacyguides/privacyguides.org/commit/2991a50a71864f85fbfb9eb57d0dd7bb6aa3572a
  docs/tools.md
Owners: none

Apply suggestions from code review
  docs/getting-started/big-tech.md
Owners: none

Update blog/posts/privacy-pass.md
  blog/posts/privacy-pass.md
Owners: @jonaharagon

Update docs/getting-started/big-tech.md
  docs/getting-started/big-tech.md
Owners: none

Update big-tech.md
  docs/getting-started/big-tech.md
Owners: none

Update docs/getting-started/big-tech.md
  docs/getting-started/big-tech.md
Owners: none

Normalize formatting
  blog/posts/privacy-pass.md
Owners: @jonaharagon

vscode spellchecking
  .vscode/ltex.dictionary.en-US.txt
  blog/posts/privacy-pass.md
Owners: @jonaharagon

Update docs/tools.md
  docs/tools.md
Owners: none

feat: Add signpost about self-hosting category
  docs/tools.md
Owners: none

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon
