Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

update: Add Vaultwarden logos
  theme/assets/img/self-hosting/vaultwarden-dark.svg
  theme/assets/img/self-hosting/vaultwarden.svg
Owners: none

update: Move Vaultwarden from the Password Managers page to Self-Hosting index
  docs/passwords.md
Owners: none

refactor: Move Pi-hole logo to Self-Hosting directory
  theme/assets/img/dns/pi-hole.svg
  theme/assets/img/self-hosting/pi-hole.svg
Owners: none

style: "Self-hosted" to "self-hosting"
  docs/self-hosting/index.md
Owners: none

update!: Move Self-Hosted DNS from recommendation page to new page
  docs/dns.md
Owners: none

update!: Add DNS Filtering section and Vaultwarden to Self-Hosting index
  docs/self-hosting/index.md
Owners: none

style: Rearrange sections and reword "Self-hosted" to "self-hosting"
  docs/self-hosting/dns-filtering.md
Owners: none

update: Move Self-Hosted DNS from `tools.md` to Self-Hosting index
  docs/tools.md
Owners: none

refactor: Move Adguard Home logo to Self-Hosting directory
  theme/assets/img/dns/adguard-home.svg
  theme/assets/img/self-hosting/adguard-home.svg
Owners: none

style: "Self-hosted" to "self-hosting"
  docs/self-hosting/email-servers.md
Owners: none

style: Make minor changes
  docs/dns.md
Owners: none

style: Remove unnecessary comma
  docs/self-hosting/dns-filtering.md
Owners: none

update!: Add DNS Filtering page to sidebar
  mkdocs.yml
Owners: @jonaharagon

update: Remove text that references content moved to diff page
  docs/dns.md
Owners: none

update(video)!: Compartmentalize Your Life
  videos/posts/compartmentalize-your-life.md
Owners: none

Optimize SVGs
  theme/assets/img/self-hosting/vaultwarden-dark.svg
  theme/assets/img/self-hosting/vaultwarden.svg
Owners: none

ci: Complete dev container configuration (#3052)
  .devcontainer/Caddyfile
  .devcontainer/devcontainer.json
  .devcontainer/team/devcontainer.json
  .github/workflows/build-container.yml
  .github/workflows/build.yml
  .gitmodules
  .vscode/extensions.json
  Dockerfile
  Pipfile.lock
  README.md
  mkdocs.blog.yml
  mkdocs.insiders.yml
  mkdocs.net.yml
  mkdocs.videos.yml
  mkdocs.yml
  net/index.md
  run.sh
Owners: @jonaharagon, @dngray

Fix innacuracy about update time of uBol
  docs/browser-extensions.md
Owners: none

Update time
  blog/posts/selling-surveillance-as-convenience.md
Owners: @jonaharagon

update(blog)!: Selling Surveillance as Convenience (#3024)
  blog/assets/images/selling-surveillance-as-convenience/surveillance-cover.webp
  blog/posts/selling-surveillance-as-convenience.md
Owners: @jonaharagon

Adding description
  docs/passwords.md
Owners: none

adding keepassium svg
  docs/passwords.md
  theme/assets/img/password-management/keepassium.svg
Owners: none

adding links and mentionning the audit
  docs/passwords.md
Owners: none

Apply minor suggestion from code review
  docs/passwords.md
Owners: none

Update docs/passwords.md
  docs/passwords.md
Owners: none

Update docs/passwords.md
  docs/passwords.md
Owners: none

Update docs/passwords.md
  docs/passwords.md
Owners: none

Spellcheck
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon
