Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Update blog/posts/stay-safe-but-stay-connected.md
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

ci: Complete dev container configuration (#3052)
  .devcontainer/Caddyfile
  .devcontainer/devcontainer.json
  .devcontainer/team/devcontainer.json
  .github/workflows/build-container.yml
  .github/workflows/build.yml
  .gitmodules
  .vscode/extensions.json
  Dockerfile
  Pipfile.lock
  README.md
  mkdocs.blog.yml
  mkdocs.insiders.yml
  mkdocs.net.yml
  mkdocs.videos.yml
  mkdocs.yml
  net/index.md
  run.sh
Owners: @jonaharagon, @dngray

update(blog)!: Stay Safe but Stay Connected (#3050)
  blog/assets/images/stay-safe-but-stay-connected/stay-connected-cover.webp
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

ci: Set production metadata for immediate releases
  .github/workflows/build-blog.yml
  .github/workflows/build-videos.yml
  .github/workflows/publish-immediate.yml
  .github/workflows/publish-release.yml
  blog/posts/stay-safe-but-stay-connected.md
Owners: @jonaharagon

Fix link to AdGuard Public DNS filter list
  docs/dns.md
Owners: none

update: Name of Brave's background apps option (#3046)
  docs/desktop-browsers.md
Owners: none

update: number of Mullvad servers (#3051)
  docs/vpn.md
Owners: none

docs: Update contributors list (#3056)
  .all-contributorsrc
  .devcontainer/devcontainer.json
  Dockerfile
  README.md
  includes/contributors.md
Owners: @jonaharagon, @dngray

Make the update time more accurate, and grammar fixed
  docs/browser-extensions.md
Owners: none

feat: update email-aliasing.md to reflect latest Proton - SimpleLoging status
  docs/email-aliasing.md
Owners: none

fix: remove hanging parenthesis
  docs/email-aliasing.md
Owners: none

feat!: Add Self-Hosted DNS page
  docs/self-hosting/dns-filtering.md
Owners: none

style: Make minor changes
  docs/dns.md
Owners: none

update!: Add DNS Filtering section and Vaultwarden to Self-Hosting index
  docs/self-hosting/index.md
Owners: none

update!: Move Self-Hosted DNS from recommendation page to new page
  docs/dns.md
Owners: none

refactor: Move Pi-hole logo to Self-Hosting directory
  theme/assets/img/dns/pi-hole.svg
  theme/assets/img/self-hosting/pi-hole.svg
Owners: none

style: "Self-hosted" to "self-hosting"
  docs/self-hosting/index.md
Owners: none

update: Move Self-Hosted DNS from `tools.md` to Self-Hosting index
  docs/tools.md
Owners: none

update: Add Vaultwarden logos
  theme/assets/img/self-hosting/vaultwarden-dark.svg
  theme/assets/img/self-hosting/vaultwarden.svg
Owners: none

refactor: Move Adguard Home logo to Self-Hosting directory
  theme/assets/img/dns/adguard-home.svg
  theme/assets/img/self-hosting/adguard-home.svg
Owners: none

style: "Self-hosted" to "self-hosting"
  docs/self-hosting/email-servers.md
Owners: none

style: Rearrange sections and reword "Self-hosted" to "self-hosting"
  docs/self-hosting/dns-filtering.md
Owners: none

style: Remove unnecessary comma
  docs/self-hosting/dns-filtering.md
Owners: none

Optimize SVGs
  theme/assets/img/self-hosting/vaultwarden-dark.svg
  theme/assets/img/self-hosting/vaultwarden.svg
Owners: none

update: Move Vaultwarden from the Password Managers page to Self-Hosting index
  docs/passwords.md
Owners: none

update: Remove text that references content moved to diff page
  docs/dns.md
Owners: none

update!: Add DNS Filtering page to sidebar
  mkdocs.yml
Owners: @jonaharagon

update(blog)!: Create a Tricked-Out Monero Server with TrueNAS (#3055)
  .vscode/ltex.dictionary.en-US.txt
  blog/.authors.yml
  blog/assets/images/monero-server-using-truenas/01-datasets.webp
  blog/assets/images/monero-server-using-truenas/02-edit-acl.webp
  blog/assets/images/monero-server-using-truenas/03-arti-shell.webp
  blog/assets/images/monero-server-using-truenas/04-arti-shell.webp
  blog/assets/images/monero-server-using-truenas/05-i2p-install.webp
  blog/assets/images/monero-server-using-truenas/06-i2p-settings.webp
  blog/assets/images/monero-server-using-truenas/07-monero-shell.webp
  blog/assets/images/monero-server-using-truenas/08-monero-shell.webp
  blog/assets/images/monero-server-using-truenas/09-monero-install.webp
  blog/assets/images/monero-server-using-truenas/cover.webp
  blog/posts/monero-server-using-truenas.md
  mkdocs.blog.yml
Owners: @jonaharagon, @dngray, @freddy-m

add more mpc
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add more detail
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon
