Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon

fix more
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update!: Remove Stingle, unmaintained since 2023 (#3066)
  docs/photo-management.md
  docs/tools.md
  theme/assets/img/photo-management/stingle-dark.png
  theme/assets/img/photo-management/stingle.png
Owners: none

fix ordering
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add MPC today section
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add fairplay
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add ending
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update date
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update: Add sections about OsmAnd's analytics
  docs/maps.md
Owners: none

fix typo
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update title
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add more intro
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update date
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add cover image
  blog/assets/images/multi-party-computation/cover.webp
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

wording
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add cover image credit
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

fix spacing
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

fix date
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add medical paper
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add cryptocurrency link
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

update(blog)!: Privacy-Enhancing Technologies Series: Differential Privacy
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add more info to the problem
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add info about noise
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add more info on history
  blog/posts/differential-privacy.md
Owners: @jonaharagon

typo
  blog/posts/differential-privacy.md
Owners: @jonaharagon

Update mobile-browsers.md to include new Brave F-Droid repository
  docs/mobile-browsers.md
Owners: none

add annotation
  blog/posts/differential-privacy.md
Owners: @jonaharagon

added Firefox Relay
  docs/email-aliasing.md
  theme/assets/img/email-aliasing/firefoxrelay.svg
Owners: none

add strava heatmap
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add link to blog about strava
  blog/posts/differential-privacy.md
Owners: @jonaharagon

style(blog): Add cover previews to older articles
  blog/posts/activists-guide-securing-your-smartphone.md
  blog/posts/biometrics-explained.md
  blog/posts/choosing-the-right-messenger.md
  blog/posts/clearing-browsing-data.md
  blog/posts/delisting-startpage.md
  blog/posts/digital-provenance.md
  blog/posts/firefox-privacy-2021-update.md
  blog/posts/firefox-privacy.md
  blog/posts/installing-and-using-tails.md
  blog/posts/installing-keepassxc-and-yubikey.md
  blog/posts/mozilla-disappoints-us-yet-again-2.md
  blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md
  blog/posts/privacy-means-safety.md
  blog/posts/privacy-pass.md
  blog/posts/relisting-startpage.md
  blog/posts/security-privacy-anonymity.md
  blog/posts/the-future-of-privacy.md
  blog/posts/the-privacy-of-others.md
  blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md
  blog/posts/threads-launch-twitter.md
  blog/posts/toward-a-passwordless-future.md
  blog/posts/uk-forced-apple-to-remove-adp.md
  blog/posts/why-i-run-a-tor-relay.md
  blog/posts/yubikey-reset-and-backup.md
Owners: @jonaharagon, @dngray

style(blog): Change cover previews for older articles
  blog/posts/privacy-is-not-dead.md
  blog/posts/sam-altman-wants-your-eyeball.md
Owners: @jonaharagon

fix for page anchor
  docs/email-aliasing.md
Owners: none

add intro before differential privacy
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add use for elections
  blog/posts/multi-party-computation.md
Owners: @jonaharagon

add link
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add example Table
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add title to table
  blog/posts/differential-privacy.md
Owners: @jonaharagon

fix table
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add table
  blog/posts/differential-privacy.md
Owners: @jonaharagon

remove unfinished table
  blog/posts/differential-privacy.md
Owners: @jonaharagon
