Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon

style: Make commands in macOS page more consistent (#3008)
  docs/os/macos-overview.md
Owners: none

docs: Guideline for PR comments & reviews (#3001)
  docs/meta/pr-comments.md
  mkdocs.yml
  theme/assets/img/meta/pr-avoid-general-comments.png
  theme/assets/img/meta/pr-threaded-comment.png
Owners: @jonaharagon

update!: Move Orbot to Alternative Networks page (#2993)
  docs/alternative-networks.md
  docs/android/index.md
  docs/device-integrity.md
  docs/tools.md
  docs/tor.md
  theme/assets/img/browsers/snowflake-dark.svg
  theme/assets/img/browsers/snowflake.svg
  theme/assets/img/self-contained-networks/snowflake-dark.svg
  theme/assets/img/self-contained-networks/snowflake.svg
Owners: none

style: Reformat parts of DNS table and footnotes (#2975)
  docs/dns.md
Owners: none

style: Reorganize and tweak email-related pages (#2973)
  docs/basics/account-creation.md
  docs/basics/email-security.md
  docs/email-aliasing.md
  docs/email-clients.md
  docs/email.md
  docs/os/android-overview.md
  includes/abbreviations.en.txt
Owners: @jonaharagon

add cardiff giant hoax
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add ai hoaxes
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add unintentional hoaxes
  blog/assets/images/digital-provenance/chupacabra.jpeg
  blog/assets/images/digital-provenance/human_dog_hybrid.jpeg
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add link, fix titles
  blog/posts/digital-provenance.md
Owners: @jonaharagon

style: Remove redundant word
  docs/real-time-communication.md
Owners: none

update(video)!: Add missing videos from PeerTube reconfig
  videos/posts/is-privacy-dead.md
  videos/posts/is-your-data-really-safe-understanding-encryption.md
Owners: none

update: Recommend both Fedora desktops equally (#3006)
  .vscode/ltex.dictionary.en-US.txt
  docs/desktop.md
  docs/tools.md
Owners: none

Update date
  blog/posts/privacy-pass.md
Owners: @jonaharagon

Update privacy-pass.md
  blog/posts/privacy-pass.md
Owners: @jonaharagon

update(blog)!: Privacy Pass: The New Protocol for Private Authentication (#2960)
  blog/assets/images/privacy-pass/blind-signatures.webp
  blog/assets/images/privacy-pass/cover.webp
  blog/assets/images/privacy-pass/google-vpn.webp
  blog/assets/images/privacy-pass/private-access-tokens.webp
  blog/posts/privacy-pass.md
Owners: @jonaharagon

Apply suggestions from code review
  docs/weather.md
Owners: none

update(video): Add sources to latest video (#3015)
  blog/.authors.yml
  videos/.authors.yml
  videos/posts/is-privacy-dead.md
Owners: @jonaharagon, @dngray, @freddy-m

add supported organizations and verification tool
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add tiktok
  blog/posts/digital-provenance.md
Owners: @jonaharagon

update(blog)!: Taking Advantage of Android User Profiles (#3017)
  blog/assets/images/taking-advantage-of-android-user-profiles/multiple-users-tablet-cover.webp
  blog/posts/taking-advantage-of-android-user-profiles.md
  docs/os/android-overview.md
  mkdocs.blog.yml
  mkdocs.videos.yml
Owners: @jonaharagon

replace misleading fully-private mention
  docs/weather.md
Owners: none

Apply minor style suggestions from code review
  blog/posts/taking-advantage-of-android-user-profiles.md
  docs/os/android-overview.md
Owners: @jonaharagon

add ai hoax info, remove stolen images
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Update targeted-attacks.md
  docs/getting-started/targeted-attacks.md
Owners: none

update content credentials
  blog/posts/digital-provenance.md
Owners: @jonaharagon

Update blog/posts/taking-advantage-of-android-user-profiles.md
  blog/posts/taking-advantage-of-android-user-profiles.md
Owners: @jonaharagon

style: Shorten page title for brevity
  docs/health-and-wellness.md
Owners: none

Apply suggestions from code review
  docs/weather.md
Owners: none

style: Differentiate between repo and source code
  docs/dns.md
Owners: none

style: Differentiate between repo and source code
  docs/frontends.md
Owners: none

style: Differentiate between repo and source code
  docs/news-aggregators.md
Owners: none

style: Convert Homepage to Repository for repo links
  docs/ai-chat.md
Owners: none

style: Add Oxford comma
  docs/data-redaction.md
Owners: none

style: Differentiate between Repository and Source Code
  docs/data-redaction.md
Owners: none

style: Differentiate between Repository and Source Code
  docs/encryption.md
Owners: none

style: Use F-Droid icon instead of Android icon
  docs/health-and-wellness.md
Owners: none

style: Fix Repository hyperlink for Newsflash
  docs/news-aggregators.md
Owners: none

style: Differentiate between Repository and Source Code
  docs/android/general-apps.md
Owners: none

style: Consistent tooltip syntax
  docs/desktop.md
Owners: none

style: Fix footnote content
  docs/alternative-networks.md
Owners: none
