Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon

fix: update Zero logo path to correct asset location
  docs/email-clients.md
Owners: none

fix: add recommendation admonition for Zero email client
  docs/email-clients.md
Owners: none

fix: correct closing tag for admonition in email clients documentation
  docs/email-clients.md
Owners: none

fix: close div tag for admonition in email clients documentation
  docs/email-clients.md
Owners: none

fix: mark subproject as dirty in brand asset
  docs/email-clients.md
Owners: none

fix: update Zero links for privacy policy and documentation
  docs/email-clients.md
Owners: none

fix: update warning for Zero email client regarding AI features and privacy implications
  docs/email-clients.md
Owners: none

update: PeekYou Opt Out links
  docs/data-broker-removals.md
Owners: none

style: Shorten links
  docs/search-engines.md
Owners: none

First changes: add EdgeGallery & PocketPal
  docs/ai-chat.md
Owners: none

update(blog)!: Privacy Is Like Broccoli
  blog/assets/images/privacy-is-like-broccoli/broccoli-cover.webp
  blog/posts/privacy-is-like-broccoli.md
Owners: @jonaharagon

Move credit text to annotation
  blog/posts/mastodon-tutorial-privacy-and-security.md
  theme/assets/stylesheets/extra.css
Owners: @jonaharagon

Update date and tags
  blog/posts/mastodon-privacy-and-security.md
  blog/posts/mastodon-tutorial-privacy-and-security.md
Owners: @jonaharagon

Update introduction
  blog/posts/mastodon-tutorial-privacy-and-security.md
Owners: @jonaharagon

Minor changes to a bit awkward transitions to second article
  blog/posts/mastodon-privacy-and-security.md
Owners: @jonaharagon

style(blog): Add cover previews to older articles (#3071)
  blog/posts/activists-guide-securing-your-smartphone.md
  blog/posts/biometrics-explained.md
  blog/posts/choosing-the-right-messenger.md
  blog/posts/clearing-browsing-data.md
  blog/posts/delisting-startpage.md
  blog/posts/digital-provenance.md
  blog/posts/firefox-privacy-2021-update.md
  blog/posts/firefox-privacy.md
  blog/posts/installing-and-using-tails.md
  blog/posts/installing-keepassxc-and-yubikey.md
  blog/posts/mozilla-disappoints-us-yet-again-2.md
  blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md
  blog/posts/privacy-is-not-dead.md
  blog/posts/privacy-means-safety.md
  blog/posts/privacy-pass.md
  blog/posts/relisting-startpage.md
  blog/posts/sam-altman-wants-your-eyeball.md
  blog/posts/security-privacy-anonymity.md
  blog/posts/the-future-of-privacy.md
  blog/posts/the-privacy-of-others.md
  blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md
  blog/posts/threads-launch-twitter.md
  blog/posts/toward-a-passwordless-future.md
  blog/posts/uk-forced-apple-to-remove-adp.md
  blog/posts/why-i-run-a-tor-relay.md
  blog/posts/yubikey-reset-and-backup.md
Owners: @jonaharagon, @dngray

update!: Remove Stingle (#3066)
  docs/photo-management.md
  docs/tools.md
  theme/assets/img/photo-management/stingle-dark.png
  theme/assets/img/photo-management/stingle.png
Owners: none

update: Mention new Brave F-Droid repository (#3069)
  docs/mobile-browsers.md
Owners: none

Update blog/posts/mastodon-tutorial-privacy-and-security.md
  blog/posts/mastodon-tutorial-privacy-and-security.md
Owners: @jonaharagon

update: Add sections about OsmAnd's analytics (#3067)
  docs/maps.md
Owners: none

docs: Update contributors list (#3056)
  .all-contributorsrc
  .devcontainer/devcontainer.json
  Dockerfile
  README.md
  includes/contributors.md
Owners: @jonaharagon, @dngray

update: Allotted storage for Ente's free plan (#3064)
  docs/photo-management.md
Owners: none

style: Change wording in Email Services criteria (#3062)
  docs/email.md
Owners: none

update: Download links for Tuta Calendar mobile apps (#3061)
  docs/calendar.md
Owners: none

update: Clarify uBO Lite update timeline (#3053)
  docs/browser-extensions.md
Owners: none

update(video)!: How the NSA Tried to Backdoor Every Phone
  videos/posts/clipper-chip.md
Owners: none

update(blog)!: How To Improve Your Privacy and Security on Mastodon (#3075)
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-accesses-authorized-apps.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-accesses-login-history.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-accesses-sessions-list.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-account-privacy-options.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-account-privacy-reach.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-domains-csv.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-domains-file.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-domains-import.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-instance.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-user.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-deletion-account.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-deletion.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-export.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-account-alias.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-account-migration.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-export.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-import.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-enabled.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-mac-popup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-qrcode.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-securitykey-added.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-securitykey-prompted.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-securitykey.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-setup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-personal-note.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-account-page.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-default.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-quote-posts.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-visibility-types.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-private-mention.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-report.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-tutorial-cover.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-verification-author-setup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-verification-link-setup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-verification-links.webp
  blog/posts/mastodon-privacy-and-security.md
  blog/posts/mastodon-tutorial-privacy-and-security.md
  theme/assets/stylesheets/extra.css
Owners: @jonaharagon

add cover photo
  blog/assets/images/differential-privacy/cover.webp
  blog/posts/differential-privacy.md
Owners: @jonaharagon

correction
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add issues with k-anonymity
  blog/posts/differential-privacy.md
Owners: @jonaharagon

wording
  blog/posts/differential-privacy.md
Owners: @jonaharagon

add mozilla prio
  blog/posts/differential-privacy.md
Owners: @jonaharagon

fix typo
  blog/posts/differential-privacy.md
Owners: @jonaharagon

Update mobile-browsers.md
  docs/mobile-browsers.md
Owners: none

Apply suggestions from code review
  blog/posts/privacy-is-like-broccoli.md
Owners: @jonaharagon

Update date
  blog/posts/privacy-is-like-broccoli.md
Owners: @jonaharagon

update(blog)!: Privacy Is Like Broccoli (#3079)
  blog/assets/images/privacy-is-like-broccoli/broccoli-cover.webp
  blog/posts/privacy-is-like-broccoli.md
Owners: @jonaharagon

fix: Small text color in dark mode (#3080)
  mkdocs.blog.yml
  mkdocs.videos.yml
  mkdocs.yml
  theme/assets/stylesheets/extra.css
Owners: @jonaharagon

update(video)!: Secureblue review
  videos/posts/secureblue-review.md
Owners: none

add more detail
  blog/posts/homomorphic-encryption.md
Owners: @jonaharagon
