Repository privacyguides/privacyguides.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonaharagon, @dngray, @freddy-m, @SamsungGalaxyPlayer, @blacklight447

.github/CODEOWNERS:

# Org

/docs/about/ @jonaharagon
CODE_OF_CONDUCT.md @jonaharagon
CITATION.cff @jonaharagon
LICENSE @jonaharagon @dngray
LICENSE-CODE @jonaharagon
README.md @jonaharagon @dngray

# Config

/mkdocs.yml @jonaharagon
/mkdocs.blog.yml @jonaharagon
/crowdin.yml @jonaharagon
/includes/ @jonaharagon

# Ops

Dockerfile @jonaharagon
/Pipfile @jonaharagon
/Pipfile.lock @jonaharagon
/.github/ @jonaharagon
/run.sh @jonaharagon
/modules/ @jonaharagon

# High-traffic pages

/blog/index.md @jonaharagon @freddy-m
/docs/index.md @jonaharagon @dngray
/theme/home.html @jonaharagon @dngray
/theme/main.html @jonaharagon
/theme/blog-post.html @jonaharagon
/theme/partials/ @jonaharagon
/theme/layouts/ @jonaharagon

# Financial-Related

/docs/about/donate.md @jonaharagon @SamsungGalaxyPlayer
/docs/cryptocurrency.md @jonaharagon @SamsungGalaxyPlayer
/docs/financial-services.md @jonaharagon @SamsungGalaxyPlayer
/docs/advanced/payments.md @jonaharagon @SamsungGalaxyPlayer

# Blog authors

/blog/.authors.yml @jonaharagon @dngray @freddy-m
/blog/author/ @jonaharagon @dngray @freddy-m
/blog/author/dngray.md @dngray
/blog/author/freddy.md @freddy-m
/blog/author/jonah.md @jonaharagon
/blog/author/niek-de-wilde.md @blacklight447

# Blog posts

/blog/posts/ @jonaharagon
/blog/posts/firefox-privacy-2021-update.md @dngray
/blog/posts/firefox-privacy.md @jonaharagon
/blog/posts/hide-nothing.md @freddy-m
/blog/posts/macos-ventura-privacy-security-updates.md @jonaharagon
/blog/posts/move-fast-and-break-things.md @freddy-m
/blog/posts/mozilla-disappoints-us-yet-again-2.md @jonaharagon
/blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md @jonaharagon
/blog/posts/proton-wallet-review.md @jonaharagon
/blog/posts/restrict-act.md @jonaharagon
/blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md @jonaharagon
/blog/posts/virtual-insanity.md @freddy-m
/blog/posts/welcome-to-privacy-guides.md @jonaharagon

update: Add GitHub releases link for IVPN
  docs/vpn.md
Owners: none

add lack of support
  blog/posts/digital-provenance.md
Owners: @jonaharagon

delete images
  blog/assets/images/digital-provenance/chupacabra.jpeg
  blog/assets/images/digital-provenance/human_dog_hybrid.jpeg
Owners: none

add cameras
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add qualcomm
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add easy to remove section
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add certifiate authroities
  blog/posts/digital-provenance.md
Owners: @jonaharagon

update(blog)!: In Praise of Tor: Why You Should Support and Use Tor
  blog/assets/images/in-praise-of-tor/tor-cover.webp
  blog/assets/images/in-praise-of-tor/tor-darkweb.webp
  blog/assets/images/in-praise-of-tor/tor-diagram.webp
  blog/assets/images/in-praise-of-tor/tor-privacyguides.webp
  blog/assets/images/in-praise-of-tor/tor-safestsetting.webp
  blog/assets/images/in-praise-of-tor/tor-torbrowser.webp
  blog/assets/images/in-praise-of-tor/tor-torcircuit.webp
  blog/posts/in-praise-of-tor.md
Owners: @jonaharagon

Update date and category
  blog/posts/in-praise-of-tor.md
Owners: @jonaharagon

update(blog)!: In Praise of Tor (#3020)
  blog/assets/images/in-praise-of-tor/tor-cover.webp
  blog/assets/images/in-praise-of-tor/tor-darkweb.webp
  blog/assets/images/in-praise-of-tor/tor-diagram.webp
  blog/assets/images/in-praise-of-tor/tor-privacyguides.webp
  blog/assets/images/in-praise-of-tor/tor-safestsetting.webp
  blog/assets/images/in-praise-of-tor/tor-torbrowser.webp
  blog/assets/images/in-praise-of-tor/tor-torcircuit.webp
  blog/posts/in-praise-of-tor.md
Owners: @jonaharagon

update(blog)!: Your Online Life Is IRL
  blog/assets/images/your-online-life-is-irl/irl-cover.webp
  blog/posts/your-online-life-is-irl.md
Owners: @jonaharagon

add more info
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add manifest info
  blog/posts/digital-provenance.md
Owners: @jonaharagon

update(blog)!: Tor Security Slider Flaw (#3022)
  blog/assets/images/tor-security-slider-flaw/cover.png
  blog/assets/images/tor-security-slider-flaw/safer-level-after-restart-jetstream2.png
  blog/assets/images/tor-security-slider-flaw/safer-level-before-restart-jetstream2.png
  blog/assets/images/tor-security-slider-flaw/standard-level-jetstream2.png
  blog/posts/tor-security-slider-flaw.md
Owners: @jonaharagon

Update publishing.md
  docs/getting-started/publishing.md
Owners: none

update(blog)!: Selling Surveillance as Convenience
  blog/assets/images/selling-surveillance-as-convenience/surveillance-cover.webp
  blog/posts/selling-surveillance-as-convenience.md
Owners: @jonaharagon

refactor: Revert change (duplicate of #3025)
  docs/frontends.md
Owners: none

update(blog): Include statement from the Tor Project
  blog/posts/tor-security-slider-flaw.md
Owners: @jonaharagon

update: Note Tor Browser security level flaw (#3026)
  docs/desktop-browsers.md
  docs/tor.md
Owners: none

add privacy
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add claim
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add example image
  blog/assets/images/digital-provenance/contentcredentialsexample.png
  blog/posts/digital-provenance.md
Owners: @jonaharagon

fix rest of the geese
  blog/assets/images/digital-provenance/geese4.jpeg
Owners: none

add call to action
  blog/posts/digital-provenance.md
Owners: @jonaharagon

update(blog): Add warning about browser restart
  blog/posts/in-praise-of-tor.md
Owners: @jonaharagon

update(blog)!: Age Verification Wants Your Face and Your Privacy (#3014)
  .vscode/ltex.dictionary.en-US.txt
  blog/assets/images/age-verification-wants-your-face/ageverification-cover.webp
  blog/posts/age-verification-wants-your-face.md
Owners: @jonaharagon

feat!: Add community wiki to navbar (#3029)
  mkdocs.yml
Owners: @jonaharagon

docs!: Move most documentation to forum
  docs/about/donate.md
  docs/about/donation-acceptance-policy.md
  docs/about/executive-policy.md
  docs/about/services.md
  docs/meta/admonitions.md
  docs/meta/brand.md
  docs/meta/commit-messages.md
  docs/meta/git-recommendations.md
  docs/meta/pr-comments.md
  docs/meta/translations.md
  docs/meta/uploading-images.md
  docs/meta/writing-style.md
  mkdocs.yml
Owners: @jonaharagon, @SamsungGalaxyPlayer

update: YubiKey 5 with FIDO L2 and Nitrokey OpenPGP warning (#3005)
  docs/security-keys.md
Owners: none

update!: Add LibreTranslate
  docs/language-tools.md
  docs/tools.md
  theme/assets/img/language-tools/libretranslate.png
Owners: none

Update docs/language-tools.md
  docs/language-tools.md
Owners: none

update: Fix Invidious/Piped public instance links (#3025)
  docs/frontends.md
Owners: none

Move description under the box
  docs/weather.md
Owners: none

add info about trust
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add more manifest info
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add more info about project origin and the content authenticity initiative
  blog/posts/digital-provenance.md
Owners: @jonaharagon

grammar
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add cardiff giant image
  blog/assets/images/digital-provenance/cardiff-giant.jpeg
  blog/posts/digital-provenance.md
Owners: @jonaharagon

capitalization
  blog/posts/digital-provenance.md
Owners: @jonaharagon

add manifest image
  blog/posts/digital-provenance.md
Owners: @jonaharagon
