Repository privacyguides/privacyguides.org, pull requests merged in 2021-12, with the labels that each got.

#292 Add CTemplar
  _includes/legacy/sections/email-providers.html
  assets/img/legacy_svg/3rd-party/ctemplar-dark.svg
  assets/img/legacy_svg/3rd-party/ctemplar.svg
Labels: providers

#383 Work on 2021 refesh blog post
  assets/img/blog/firefox-privacy-2021.png
  collections/_posts/2021-12-01-firefox-privacy-2021-update.md
Labels: blog

#390 Revamping the Android section
  .github/workflows/tests.yml
  Gemfile
  Gemfile.lock
  _data/nav/1_home.yml
  _data/nav/1_providers.yml
  _data/nav/2_software.yml
  _data/nav/3._operating_systems.yml
  _data/operating-systems/android-applications/1_orbot.yml
  _data/operating-systems/android-applications/2_shelter.yml
  _data/operating-systems/android-applications/3_auditor.yml
  _data/operating-systems/android/1_grapheneos.yml
  _data/operating-systems/android/2_calyxos.yml
  _data/operating-systems/android/3_divestos.yml
  _data/software/browsers-desktop/1_firefox.yml
  _data/software/browsers-mobile/1_bromite.yml
  _data/software/browsers-mobile/3_firefox.yml
  _data/software/browsers-mobile/4_firefox_focus.yml
  _includes/legacy/sections/android-addons.html
  _includes/legacy/sections/android-operating-systems.html
  _includes/legacy/sections/ios-addons.html
  _layouts/default.html
  assets/img/android/auditor.svg
  assets/img/android/calyxos.svg
  assets/img/android/divestos.svg
  assets/img/android/grapheneos-dark.svg
  assets/img/android/grapheneos.svg
  assets/img/android/orbot.svg
  assets/img/android/shelter.svg
  assets/img/legacy_png/3rd-party/netguard.png
  collections/_evergreen/android.html
  legacy_pages/os.html
  package-lock.json
  package.json
Labels: os, legacy migration

#192 Fix #57 : Overhaul real-time communications page + add Session messenger
  _data/nav/2_software.yml
  _data/software/messengers/1_signal.yml
  _data/software/messengers/2_element.yml
  _data/software/messengers/3_briar.yml
  _data/software/messengers/4_session.yml
  _includes/badge.html
  _includes/legacy/card.html
  _includes/legacy/sections/email-warning.html
  _includes/legacy/sections/instant-messenger.html
  _includes/legacy/sections/teamchat.html
  _includes/legacy/sections/voice-video-messenger.html
  _includes/recommendation-card.html
  _sass/brand.scss
  _sass/variables.scss
  assets/img/layout/network-anonymous-routing.svg
  assets/img/layout/network-centralized.svg
  assets/img/layout/network-decentralized.svg
  assets/img/layout/network-distributed.svg
  assets/img/messengers/briar.svg
  assets/img/messengers/element.svg
  assets/img/messengers/jitsi.svg
  assets/img/messengers/linphone.svg
  assets/img/messengers/session.svg
  assets/img/messengers/signal.svg
  collections/_evergreen/real-time-communication.html
  collections/_posts/2019-08-22-self-hosting-shadowsocks-vpn-outline.md
  legacy_pages/software.html
  legacy_pages/software/real-time-communication.html
Labels: software, correction, approved, legacy migration
