Repository privacyguides/privacyguides.org, pull requests merged in 2022-03, with the labels that each got.

#491 New Linux page
  _data/nav/2_software.yml
  _data/nav/3_operating_systems.yml
  _data/operating-systems/linux-desktop-immutable/1_fedora-silverblue.yml
  _data/operating-systems/linux-desktop-immutable/2_nixos.yml
  _data/operating-systems/linux-desktop-tor/1_whonix.yml
  _data/operating-systems/linux-desktop-tor/2_tails.yml
  _data/operating-systems/linux-desktop/1_fedora-workstation.yml
  _data/operating-systems/linux-desktop/2_opensuse-tumbleweed.yml
  _data/operating-systems/linux-desktop/3_archlinux.yml
  _data/operating-systems/qubes/1_qubes.yml
  _data/operating-systems/router/1_openwrt.yml
  _data/operating-systems/router/2_pfsense.yml
  _data/software/browsers-resources/3_terms_of_service_didnt_read.yml
  _includes/legacy/sections/fourteen-eyes.html
  _includes/legacy/sections/operating-systems.html
  _includes/legacy/sections/router-firmware.html
  _includes/legacy/sections/tor-operating-systems.html
  _includes/legacy/sections/windows10.html
  assets/img/legacy_png/3rd-party/adguard.png
  assets/img/legacy_svg/3rd-party/alpinelinux.svg
  assets/img/legacy_svg/3rd-party/debian.svg
  assets/img/legacy_svg/3rd-party/ubuntu.svg
  assets/img/legacy_svg/layout/windows_privacy.svg
  assets/img/linux-desktop/archlinux.svg
  assets/img/linux-desktop/fedora-silverblue.svg
  assets/img/linux-desktop/fedora-workstation.svg
  assets/img/linux-desktop/nixos.svg
  assets/img/linux-desktop/opensuse-tumbleweed.svg
  assets/img/linux-desktop/tails.svg
  assets/img/linux-desktop/whonix.svg
  assets/img/qubes/qubes_os.svg
  assets/img/router/openwrt-dark.svg
  assets/img/router/openwrt.svg
  assets/img/router/pfsense-dark.svg
  assets/img/router/pfsense.svg
  collections/_evergreen/android.md
  collections/_evergreen/linux-desktop.md
  collections/_evergreen/qubes.md
  collections/_evergreen/router.md
  legacy_pages/os.html
Labels: os, legacy migration

#773 Fix meta description tags
  _includes/head.html
Labels: bug

#779 Fix port typo on Linux desktop page
  collections/_evergreen/linux-desktop.md
Labels: os, correction

#780 Fix QubesOS typo
  collections/_evergreen/qubes.md
Labels: os, correction

#798 Put space between "Arch Linux"
  collections/_evergreen/linux-desktop.md
Labels: correction

#778 Replace Canary Mail PNG
  _includes/legacy/sections/email-clients.html
  assets/img/legacy_png/3rd-party/canarymail.png
  assets/img/legacy_svg/3rd-party/canarymail.svg
Labels: bug, contributing

#805 Small edits in linux-desktop.md
  README.md
  collections/_evergreen/android.md
  collections/_evergreen/browsers.md
  collections/_evergreen/linux-desktop.md
  collections/_evergreen/real-time-communication.md
  collections/_evergreen/router.md
  collections/_evergreen/threat-modeling.md
  collections/_posts/2019-08-22-self-hosting-shadowsocks-vpn-outline.md
  collections/_posts/2019-10-05-understanding-vpns.md
  collections/_posts/2019-10-30-choosing-a-vpn.md
  collections/_posts/2019-11-09-firefox-privacy.md
  collections/_posts/2021-09-14-welcome-to-privacy-guides.md
  collections/_posts/2021-12-01-firefox-privacy-2021-update.md
  notices.md
Labels: correction

#801 Add Docker logo to pg-font
  _sass/pg-font.scss
  assets/fonts/pg-font/pg-font.eot
  assets/fonts/pg-font/pg-font.svg
  assets/fonts/pg-font/pg-font.ttf
  assets/fonts/pg-font/pg-font.woff
  assets/fonts/pg-font/pg-font.woff2
Labels: enhancements

#808 Fix link to old blog
  collections/_evergreen/real-time-communication.md
Labels: software, correction

#811 Remove href commands
  collections/_evergreen/android.md
Labels: os, correction

#767 Revamping the Encrypted DNS page (#767)
  _data/dns/adguard.yml
  _data/dns/cloudflare.yml
  _data/dns/controld.yml
  _data/dns/mullvad.yml
  _data/dns/nextdns.yml
  _data/dns/quad9.yml
  _data/nav/1_providers.yml
  _data/software/dns-apps/1_rethinkdns.yml
  _data/software/dns-apps/2_dnscloak.yml
  _data/software/dns-apps/3_dnscrypt-proxy.yml
  _includes/table-header-dns.html
  _includes/table-row-dns.html
  _includes/table-unencrypted-dns.html
  _sass/terminal.scss
  assets/css/app.scss
  assets/css/dark.scss
  assets/img/android/android.svg
  assets/img/android/orbot.svg
  assets/img/android/rethinkdns-dark.svg
  assets/img/android/rethinkdns.svg
  assets/img/dns/dns-dark.svg
  assets/img/dns/dns.svg
  assets/img/dns/dnscrypt-proxy.svg
  assets/img/ios/dnscloak.png
  assets/img/legacy_png/3rd-party/nebulo.png
  assets/img/legacy_png/3rd-party/stubby.png
  assets/img/legacy_svg/3rd-party/unbound.svg
  collections/_evergreen/android.md
  collections/_evergreen/dns.md
  collections/_evergreen/linux-desktop.md
  collections/_pages/providers/dns.md
  collections/_posts/2019-11-09-firefox-privacy.md
Labels: providers, software, guides, approved, legacy migration

#795 Legacy conversion of Password Managers
  _data/nav/2_software.yml
  _data/nav/5_security.yml
  _data/software/password-manager-cloud/1_bitwarden.yml
  _data/software/password-manager-cloud/2_psono.yml
  _data/software/password-manager-local/1_keepassxc.yml
  _data/software/password-manager-local/2_keepassdx.yml
  _data/software/password-manager-minimal/1_pass.yml
  _data/software/password-manager-minimal/2_gopass.yml
  _data/software/password-manager-servers/1_vaultwarden.yml
  _data/software/password-manager-servers/2_psono_server.yml
  _includes/legacy/sections/password-managers.html
  _sass/pg-font.scss
  assets/fonts/pg-font/pg-font.eot
  assets/fonts/pg-font/pg-font.svg
  assets/fonts/pg-font/pg-font.ttf
  assets/fonts/pg-font/pg-font.woff
  assets/fonts/pg-font/pg-font.woff2
  assets/img/password-management/bitwarden.svg
  assets/img/password-management/gopass.svg
  assets/img/password-management/keepassdx.svg
  assets/img/password-management/keepassxc.svg
  assets/img/password-management/pass.svg
  assets/img/password-management/psono.svg
  assets/img/password-management/vaultwarden-dark.svg
  assets/img/password-management/vaultwarden.svg
  collections/_evergreen/password-management.md
  collections/_evergreen/video-streaming.md
  legacy_pages/software/passwords.html
Labels: software, legacy migration

#818 Calendar and Contacts legacy migration
  _data/nav/2_software.yml
  _data/software/calendar-contacts-self-hosted/1_etesync.yml
  _data/software/calendar-contacts-self-hosted/2_nextcloud.yml
  _data/software/calendar-contacts-self-hosted/3_decsync.yml
  _data/software/calendar-contacts/1_proton-calendar.yml
  _data/software/calendar-contacts/2_tutanota.yml
  _includes/legacy/sections/calendar-contacts-sync.html
  _includes/legacy/sections/email-providers.html
  assets/img/calendar-contacts/etesync.svg
  assets/img/calendar-contacts/nextcloud.svg
  assets/img/calendar-contacts/proton-calendar.jpg
  assets/img/calendar-contacts/tutanota-dark.svg
  assets/img/calendar-contacts/tutanota.svg
  collections/_evergreen/calendar-contacts.md
  legacy_pages/software/cal-card.html
Labels: software, legacy migration

#820 Notebooks legacy migration
  _data/nav/2_software.yml
  _data/software/notebooks-local/1_org-mode.yml
  _data/software/notebooks/1_joplin.yml
  _data/software/notebooks/2_standard-notes.yml
  _data/software/notebooks/3_etesync-notes.yml
  _includes/legacy/sections/notebooks.html
  assets/img/notebooks/etesync-notes.png
  assets/img/notebooks/joplin.svg
  assets/img/notebooks/org-mode.svg
  assets/img/notebooks/standard-notes.svg
  collections/_evergreen/notebooks.md
  legacy_pages/software/notebooks.html
Labels: software, legacy migration

#821 Email clients legacy migration
  _data/nav/2_software.yml
  _data/software/email-clients-desktop/1_thunderbird.yml
  _data/software/email-clients-desktop/2_evolution.yml
  _data/software/email-clients-desktop/3_kontact.yml
  _data/software/email-clients-desktop/4_canarymail.yml
  _data/software/email-clients-desktop/5_Mailvelope.yml
  _data/software/email-clients-mobile/1_k9-mail.yml
  _data/software/email-clients-mobile/2_fairemail.yml
  _data/software/email-clients-mobile/3_canarymail-ios.yml
  _data/software/email-clients-text/1_neomutt.yml
  _includes/legacy/sections/email-clients.html
  _includes/legacy/sections/email-providers.html
  _includes/legacy/sections/email-warning.html
  assets/img/email-clients/canarymail.svg
  assets/img/email-clients/evolution.svg
  assets/img/email-clients/fairemail.svg
  assets/img/email-clients/k9mail.svg
  assets/img/email-clients/kontact.svg
  assets/img/email-clients/mailvelope.svg
  assets/img/email-clients/mutt.svg
  assets/img/email-clients/thunderbird.svg
  collections/_evergreen/email-clients.md
  legacy_pages/providers/email.html
  legacy_pages/software/email.html
Labels: software, legacy migration

#822 File encryption migration
  _data/nav/2_software.yml
  _data/software/encryption-browser-based/1_hat-sh.yml
  _data/software/encryption-commandline/1_kryptor.yml
  _data/software/encryption-commandline/2_tomb.yml
  _data/software/encryption-multi-platform/1_veracrypt.yml
  _data/software/encryption-multi-platform/2_gnupg.yml
  _data/software/encryption-multi-platform/3_cryptomator.yml
  _data/software/encryption-multi-platform/4_picocrypt.yml
  _data/software/encryption-operating-system/1_bitlocker.yml
  _data/software/encryption-operating-system/2_filevault.yml
  _data/software/encryption-operating-system/3_luks.yml
  _includes/legacy/sections/file-encryption.html
  assets/img/encryption-software/bitlocker.png
  assets/img/encryption-software/cryptomator.svg
  assets/img/encryption-software/filevault.png
  assets/img/encryption-software/gnupg.svg
  assets/img/encryption-software/hat-sh-dark.png
  assets/img/encryption-software/hat-sh.png
  assets/img/encryption-software/kryptor.png
  assets/img/encryption-software/luks.png
  assets/img/encryption-software/picocrypt.svg
  assets/img/encryption-software/tomb.png
  assets/img/encryption-software/veracrypt-dark.svg
  assets/img/encryption-software/veracrypt.svg
  collections/_evergreen/cloud.md
  collections/_evergreen/encryption-software.md
  legacy_pages/software/file-encryption.html
Labels: software, legacy migration

#825 File sharing/sync legacy migration
  _data/nav/2_software.yml
  _data/software/file-sharing/1_onionshare.yml
  _data/software/file-sharing/2_magic-wormhole.yml
  _data/software/file-sharing/3_croc.yml
  _data/software/file-sharing/4_freedombox.yml
  _data/software/sync/1_syncthing.yml
  _data/software/sync/2_git-annex.yml
  _includes/legacy/sections/file-sharing.html
  _includes/legacy/sections/file-sync.html
  collections/_evergreen/file-sharing-sync.md
  docs/assets/img/file-sharing-sync/croc.jpg
  docs/assets/img/file-sharing-sync/freedombox.svg
  docs/assets/img/file-sharing-sync/gitannex.svg
  docs/assets/img/file-sharing-sync/magic_wormhole.png
  docs/assets/img/file-sharing-sync/onionshare.svg
  docs/assets/img/file-sharing-sync/syncthing.svg
  legacy_pages/software/file-sharing.html
Labels: software, legacy migration

#826 Metadata removal revamp
  _data/nav/2_software.yml
  _data/software/metadata-removal-commandline/1_exiftool.yml
  _data/software/metadata-removal-desktop/1_mat2.yml
  _data/software/metadata-removal-desktop/2_exifcleaner.yml
  _data/software/metadata-removal-mobile/1_scrambled-exif.yml
  _data/software/metadata-removal-mobile/2_imagepipe.yml
  _includes/legacy/sections/metadata-removal-tools.html
  collections/_evergreen/metadata-removal.md
  docs/assets/img/metadata-removal/exifcleaner.svg
  docs/assets/img/metadata-removal/exiftool.png
  docs/assets/img/metadata-removal/imagepipe.svg
  docs/assets/img/metadata-removal/mat2.svg
  docs/assets/img/metadata-removal/scrambled-exif.svg
  legacy_pages/software/metadata-removal-tools.html
Labels: software, legacy migration
