Repository privacyguides/privacyguides.org, pull requests merged in 2024-12, with the labels that each got.

#2831 update: Remove metadata cleaner
  docs/data-redaction.md
Labels: c:software

#2832 style: Collapse blog sidebar navigation sections
  blog/tags.md
  mkdocs.blog.yml
Labels: ci:build blog

#2839 update!: Remove Hypatia, DivestOS, and Mull in light of support ending
  docs/android/distributions.md
  docs/device-integrity.md
  docs/mobile-browsers.md
  docs/tools.md
  theme/assets/img/android/divestos.svg
  theme/assets/img/browsers/mull.svg
  theme/assets/img/device-integrity/hypatia-dark.svg
  theme/assets/img/device-integrity/hypatia.svg
Labels: c:browsers, c:software, c:os

#2837 update: Add the link of the guide to get additional storage for Proton Drive
  docs/cloud.md
Labels: c:providers

#2823 update: Tidy up Cryptocurrency page and recommend places to buy Monero
  docs/advanced/payments.md
  docs/cryptocurrency.md
  docs/financial-services.md
Labels: c:software

#2843 update: Add HTTPS Only mode for Safari
  docs/mobile-browsers.md
Labels: c:browsers
