Repository privacyguides/privacyguides.org, pull requests merged in 2025-07, with the labels that each got.

#3074 update(blog)!: Privacy and Security on Mastodon
  blog/assets/images/mastodon-privacy-and-security/mastodon-accesses-authorized-apps.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-accesses-login-history.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-accesses-sessions-list.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-account-privacy-options.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-account-privacy-reach.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-block-domains-csv.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-block-domains-file.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-block-domains-import.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-block-instance.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-block-user.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-choosing-instance.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-cover.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-deletion-account.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-deletion.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-export.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-move-account-alias.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-move-account-migration.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-move-export.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-move-import.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-enabled.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-mac-popup.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-qrcode.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-securitykey-added.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-securitykey-prompted.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-securitykey.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-multifactor-setup.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-personal-note.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-posts-account-page.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-posts-default.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-posts-quote-posts.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-posts-visibility-types.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-private-mention-encryption.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-private-mention.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-report.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-verification-author-setup.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-verification-link-setup.webp
  blog/assets/images/mastodon-privacy-and-security/mastodon-verification-links.webp
  blog/posts/mastodon-privacy-and-security.md
  blog/posts/queer-dating-apps-beware-who-you-trust.md
Labels: c:blog, ci:build blog

#3069 update: Mention new Brave F-Droid repository
  docs/mobile-browsers.md
Labels: c:browsers

#3067 update: Add sections about OsmAnd's analytics
  docs/maps.md
Labels: c:software

#3062 style: Change wording in Email Services criteria
  docs/email.md
Labels: c:providers, t:correction

#3061 update: Download links for Tuta Calendar mobile apps
  docs/calendar.md
Labels: c:software, t:correction

#3053 update: Clarify uBO Lite update timeline
  docs/browser-extensions.md
Labels: c:browsers, t:correction

#3075 update(blog)!: Mastodon Tutorial: How to Adjust and Improve Privacy and Security
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-accesses-authorized-apps.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-accesses-login-history.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-accesses-sessions-list.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-account-privacy-options.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-account-privacy-reach.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-domains-csv.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-domains-file.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-domains-import.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-instance.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-block-user.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-deletion-account.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-deletion.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-export.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-account-alias.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-account-migration.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-export.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-move-import.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-enabled.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-mac-popup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-qrcode.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-securitykey-added.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-securitykey-prompted.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-securitykey.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-multifactor-setup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-personal-note.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-account-page.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-default.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-quote-posts.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-posts-visibility-types.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-private-mention.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-report.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-tutorial-cover.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-verification-author-setup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-verification-link-setup.webp
  blog/assets/images/mastodon-tutorial-privacy-and-security/mastodon-verification-links.webp
  blog/posts/mastodon-privacy-and-security.md
  blog/posts/mastodon-tutorial-privacy-and-security.md
  theme/assets/stylesheets/extra.css
Labels: c:blog, ci:build blog

#3073 style: Name of V8 setting on Android version of Brave
  docs/mobile-browsers.md
Labels: c:browsers
