Repository privacyguides/privacyguides.org, pull requests merged in 2025-01, with the labels that each got.

#2844 update: Fix information on Android distributions page
  docs/android/distributions.md
  docs/mobile-phones.md
  docs/os/android-overview.md
Labels: c:os

#2829 update: Remove Molly-UP mention and update Molly's UnifiedPush support
  docs/real-time-communication.md
Labels: c:software

#2833 update: Add info about the new clean up feature in ios
  docs/os/ios-overview.md
Labels: c:os

#2847 update: Remove line about requiring a balance for buying in RetoSwap
  docs/cryptocurrency.md
Labels: c:software

#2852 update(blog)!: Announcement of new hires
  blog/posts/privacy-guides-hires-three-staff-members.md
Labels: c:blog, ci:build blog

#2857 update(blog)!: Activist guide to smartphone security
  blog/assets/images/activists-guide-securing-your-smartphone/cover.webp
  blog/posts/activists-guide-securing-your-smartphone.md
  docs/os/ios-overview.md
  theme/blog-post.html
Labels: c:blog, ci:build blog

#2859 update(blog): Add image credits to cover photos
  blog/posts/choosing-the-right-messenger.md
  blog/posts/delisting-startpage.md
  blog/posts/delisting-wire.md
  blog/posts/firefox-privacy-2021-update.md
  blog/posts/firefox-privacy.md
  blog/posts/mozilla-disappoints-us-yet-again-2.md
  blog/posts/privacy-guides-partners-with-magic-grants-501-c-3.md
  blog/posts/relisting-startpage.md
  blog/posts/security-privacy-anonymity.md
  blog/posts/the-trouble-with-vpn-and-privacy-review-sites.md
  blog/posts/welcome-to-privacy-guides.md
  blog/posts/weve-joined-the-open-collective-foundation.md
  blog/posts/why-i-run-a-tor-relay.md
  mkdocs.yml
Labels: c:blog, ci:build blog

#2856 docs: Add contact information
  docs/about.md
  theme/assets/img/layout/signal-contact-qr.png
  theme/blog-post.html
  theme/partials/content.html
Labels: ci:build blog

#2860 update(blog): Update protesters guide based on feedback
  blog/posts/activists-guide-securing-your-smartphone.md
Labels: c:blog, ci:build blog

#2869 update(blog)!: Tails article with installation tutorial
  blog/.authors.yml
  blog/assets/images/installing-and-using-tails/cover.webp
  blog/assets/images/installing-and-using-tails/mac-startup-security-utility.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-1.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-10.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-11.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-12.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-13.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-14.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-15.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-16.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-17.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-18.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-2.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-3.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-4.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-5.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-6.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-7.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-8.png
  blog/assets/images/installing-and-using-tails/tails-installation-mac-9.png
  blog/assets/images/installing-and-using-tails/tails-logo-flat-inverted.svg
  blog/assets/images/installing-and-using-tails/tails-usage-keepassxc.png
  blog/assets/images/installing-and-using-tails/tails-usage-onionshare.png
  blog/assets/images/installing-and-using-tails/tails-usage-persistentstorage.png
  blog/assets/images/installing-and-using-tails/tails-usage-privacyguides-onion.png
  blog/assets/images/installing-and-using-tails/tails-usage-tailswebsite.png
  blog/assets/images/installing-and-using-tails/tails-usage-torconnection-successful.png
  blog/assets/images/installing-and-using-tails/tails-usage-torconnection.png
  blog/posts/installing-and-using-tails.md
Labels: c:blog, ci:build blog
