Repository privacyguides/privacyguides.org, pull requests merged in 2025-09, with the labels that each got.

#3085 update: Remove outdated MAC randomization article for Linux
  docs/os/linux-overview.md
Labels: c:os

#3100 style: Fixed Typos And Clarified Wording in README
  README.md
Labels: t:correction

#3124 feat: Add newsletter subscription buttons
  .vscode/settings.json
  docs/about.md
  docs/about/donate.md
  docs/index.md
  mkdocs.blog.yml
  mkdocs.yml
Labels: ci:build i18n, ci:build blog

#3122 style: New mailbox.org logo and product name
  docs/basics/email-security.md
  docs/email.md
  docs/tools.md
  theme/assets/img/email/kolab_now-dark.svg
  theme/assets/img/email/kolab_now.svg
  theme/assets/img/email/mailbox-mail.svg
  theme/assets/img/email/mailboxorg.svg
  theme/assets/img/email/mailfence-dark.svg
  theme/assets/img/email/mailfence.svg
Labels: c:providers

#3114 update(blog): After 2025-09-12 Update for Chat Control article
  blog/posts/chat-control-must-be-stopped.md
Labels: c:blog, ci:build blog

#3126 style: Fix formatting of Security Keys page and rewrite sections
  docs/basics/multi-factor-authentication.md
  docs/security-keys.md
Labels: c:hardware

#3138 fix(blog): Shorten meta descriptions under 300 characters
  blog/posts/age-verification-wants-your-face.md
  blog/posts/cryptpad-review.md
  blog/posts/encryption-is-not-a-crime.md
  blog/posts/importance-of-privacy-for-the-queer-community.md
  blog/posts/in-praise-of-tor.md
  blog/posts/keepassium-review.md
  blog/posts/sam-altman-wants-your-eyeball.md
  blog/posts/selling-surveillance-as-convenience.md
  blog/posts/the-future-of-privacy.md
  blog/posts/the-privacy-of-others.md
  blog/posts/your-online-life-is-irl.md
Labels: c:blog, ci:build blog

#3068 update(blog)!: Privacy-Enhancing Technologies Series: Differential Privacy
  blog/assets/images/differential-privacy/cover.webp
  blog/posts/differential-privacy.md
  blog/posts/multi-party-computation.md
Labels: c:blog, ci:build blog
