Repository privacyguides/privacyguides.org, pull requests merged in 2025-05, with the labels that each got.

#3022 update(blog)!: Tor Security Slider Flaw
  blog/assets/images/tor-security-slider-flaw/cover.png
  blog/assets/images/tor-security-slider-flaw/safer-level-after-restart-jetstream2.png
  blog/assets/images/tor-security-slider-flaw/safer-level-before-restart-jetstream2.png
  blog/assets/images/tor-security-slider-flaw/standard-level-jetstream2.png
  blog/posts/tor-security-slider-flaw.md
Labels: c:blog, ci:build blog

#3026 update: Note Tor Browser security level flaw
  docs/desktop-browsers.md
  docs/tor.md
Labels: c:browsers

#3014 update(blog)!: Age Verification Wants Your Face, and Your Privacy
  .vscode/ltex.dictionary.en-US.txt
  blog/assets/images/age-verification-wants-your-face/ageverification-cover.webp
  blog/posts/age-verification-wants-your-face.md
Labels: c:blog, ci:build blog

#3005 update: YubiKey 5 with FIDO L2 and Nitrokey OpenPGP warning
  docs/security-keys.md
Labels: c:hardware

#3025 update: Links to lists of public instances for Invidious and Piped
  docs/frontends.md
Labels: c:software

#3016 feat(blog): Disable read time estimates
  mkdocs.blog.yml
Labels: c:blog, ci:build blog

#3033 update(blog)!: Sam Altman Wants Your Eyeball
  blog/assets/images/sam-altman-wants-your-eyeball/orb-cover.webp
  blog/posts/privacy-guides-hires-three-staff-members.md
  blog/posts/private-european-alternatives.md
  blog/posts/sam-altman-wants-your-eyeball.md
Labels: c:blog, ci:build blog

#3036 fix: Update OpenGraph tags
  blog/posts/sam-altman-wants-your-eyeball.md
  theme/blog-post.html
  theme/layouts/blog.yml
  theme/layouts/page.yml
  theme/layouts/video.yml
  theme/video-post.html
Labels: ci:build blog, ci:build videos

#3012 update(blog)!: KeePassium Review: A Flexible Password Manager for iOS and macOS
  blog/assets/images/keepassium-review/keepassium-applelabel.webp
  blog/assets/images/keepassium-review/keepassium-appprotection.webp
  blog/assets/images/keepassium-review/keepassium-appstoremac.webp
  blog/assets/images/keepassium-review/keepassium-attachmentmac.webp
  blog/assets/images/keepassium-review/keepassium-autofill.webp
  blog/assets/images/keepassium-review/keepassium-autofillmac.webp
  blog/assets/images/keepassium-review/keepassium-backup.webp
  blog/assets/images/keepassium-review/keepassium-cover.webp
  blog/assets/images/keepassium-review/keepassium-databaseoptions.webp
  blog/assets/images/keepassium-review/keepassium-dataprotection.webp
  blog/assets/images/keepassium-review/keepassium-encryptionoptions.webp
  blog/assets/images/keepassium-review/keepassium-entries.webp
  blog/assets/images/keepassium-review/keepassium-entrymac.webp
  blog/assets/images/keepassium-review/keepassium-fileinfo.webp
  blog/assets/images/keepassium-review/keepassium-fileinfomac.webp
  blog/assets/images/keepassium-review/keepassium-generator.webp
  blog/assets/images/keepassium-review/keepassium-generatormac.webp
  blog/assets/images/keepassium-review/keepassium-groups.webp
  blog/assets/images/keepassium-review/keepassium-largeindexedfont.webp
  blog/assets/images/keepassium-review/keepassium-loginappmac.webp
  blog/assets/images/keepassium-review/keepassium-loginsafarimac.webp
  blog/assets/images/keepassium-review/keepassium-movedatabase.webp
  blog/assets/images/keepassium-review/keepassium-moveentry.webp
  blog/assets/images/keepassium-review/keepassium-newdatabase.webp
  blog/assets/images/keepassium-review/keepassium-newdatabasemac.webp
  blog/assets/images/keepassium-review/keepassium-newentry.webp
  blog/assets/images/keepassium-review/keepassium-offline.webp
  blog/assets/images/keepassium-review/keepassium-otp.webp
  blog/assets/images/keepassium-review/keepassium-otpentry.webp
  blog/assets/images/keepassium-review/keepassium-pdfviewer.webp
  blog/assets/images/keepassium-review/keepassium-pricing.webp
  blog/assets/images/keepassium-review/keepassium-print.webp
  blog/assets/images/keepassium-review/keepassium-startdatabase.webp
  blog/assets/images/keepassium-review/keepassium-startwelcome.webp
  blog/assets/images/keepassium-review/keepassium-startwelcomemac.webp
  blog/assets/images/keepassium-review/keepassium-textsize.webp
  blog/assets/images/keepassium-review/keepassium.svg
  blog/posts/keepassium-review.md
Labels: c:blog, ci:build blog

#2972 style!: Make minor changes across recommendation pages for consistency
  docs/about/donation-acceptance-policy.md
  docs/advanced/communication-network-types.md
  docs/advanced/tor-overview.md
  docs/ai-chat.md
  docs/alternative-networks.md
  docs/android/general-apps.md
  docs/basics/vpn-overview.md
  docs/basics/why-privacy-matters.md
  docs/cloud.md
  docs/data-redaction.md
  docs/desktop-browsers.md
  docs/desktop.md
  docs/dns.md
  docs/document-collaboration.md
  docs/encryption.md
  docs/health-and-wellness.md
  docs/index.md
  docs/language-tools.md
  docs/maps.md
  docs/meta/admonitions.md
  docs/news-aggregators.md
  docs/notebooks.md
  docs/passwords.md
  docs/pastebins.md
  docs/photo-management.md
  docs/privacy.md
  docs/real-time-communication.md
  docs/tools.md
  docs/tor.md
  docs/vpn.md
  theme/assets/img/ai-chat/llamafile.png
  theme/assets/img/ai-chat/llamafile.webp
Labels: t:correction

#3034 update!: Require PFS for instant messengers and remove Session
  docs/real-time-communication.md
  docs/tools.md
  theme/assets/img/messengers/session.svg
Labels: c:software

#3021 update(blog)!: Your Online Life Is IRL
  blog/assets/images/your-online-life-is-irl/irl-cover.webp
  blog/posts/your-online-life-is-irl.md
Labels: c:blog, ci:build blog

#3009 update(blog)!: Digital Provenance
  blog/assets/images/digital-provenance/cardiff-giant.jpg
  blog/assets/images/digital-provenance/cover.jpg
  blog/assets/images/digital-provenance/geese1.jpeg
  blog/assets/images/digital-provenance/geese2.jpeg
  blog/assets/images/digital-provenance/geese3.jpeg
  blog/assets/images/digital-provenance/geese4.jpeg
  blog/assets/images/digital-provenance/manifest.svg
  blog/posts/digital-provenance.md
Labels: c:blog, ci:build blog

#3041 style(blog): Fix typos
  blog/posts/sam-altman-wants-your-eyeball.md
Labels: c:blog, ci:build blog

#3038 style: Foreground Signal hardening guide and adjust sections for readability
  docs/real-time-communication.md
Labels: c:software

#3045 style(blog): Fix typo in "Privacy Means Safety" article
  blog/posts/privacy-means-safety.md
Labels: c:blog, t:correction, ci:build blog
